backup/27Jul_2017/release01/WEB-INF/classes/questions.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="questions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="link">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="href"/>
                <xs:attribute type="xs:string" name="rel"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="answer_options">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="answer_option" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="value" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="question" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="area"/>
              <xs:element type="xs:string" name="text"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="index" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="start"/>
      <xs:attribute type="xs:byte" name="end"/>
      <xs:attribute type="xs:byte" name="total"/>
    </xs:complexType>
  </xs:element>
</xs:schema>